@import '~bootstrap/scss/bootstrap';;

.root {
  font-family: "Europa Regular", "Arial", Courier, monospace;
  scroll-behavior: smooth;
}

.main-content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  max-width: 100vw;
  padding-top: 4rem;
  @media (min-width: 1200px) {
    padding-inline: 6rem;
  }
  @media (max-width: 1199px) {
    padding-inline: 4rem;
  }
  @media (max-width: 800px) {
    padding-inline: 2rem;
  }
}
