.second-banner {
  max-height: 37.5rem;
  &-overlay {
    background-color: rgba(52, 58, 64, 0.5);
  }
  &-description {
    color: #fff;
    font-family: "Europa Regular";
    font-size: 1.5rem;
    white-space: pre-wrap;
    width: 80%;
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 1.5rem;
    line-height: 22.5px;

    @media (max-width: 800px) {
      font-size: 0.8rem;
      margin: auto;
    }
  }
  &-action {
    color: rgba(122, 101, 225, 1);

    @media (max-width: 800px) {
      font-size: 1rem;
      width: fit-content;
    }
  }
  &-title {
    @media (max-width: 800px) {
      font-size: 1rem;
    }
  }
}
.banner-cards-container {
  display: flex;
  justify-content: space-between;
  row-gap: 1.5rem;
  margin-top: 1rem;
}
.banner-card {
  width: auto;
  max-height: 260px;
  gap: 4px;
  &-title {
    font-size: 1.5rem;
  }
}

.destination {
  font-family: "Europa-Bold";
  & > h1 {
    margin: 0;
  }
}
